name: CI
on: [ push, pull_request ]

env:
  RUSTFLAGS: >-
    -Dwarnings
    -Clink-arg=-fuse-ld=mold
  RUST_BACKTRACE: 1
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v4
      # mold is a workaround for regression in Rust 1.93 beta
      - uses: rui314/setup-mold@v1
      - uses: jdx/mise-action@v2
        with:
          version: 2025.10.11
      - name: Remove rust from mise
        run: |
          # a different rust version will be installed in the next step
          mise rm rust
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: clippy, rustfmt
      - uses: Swatinem/rust-cache@v2.8.0
      - run: lefthook run --force pre-commit
      - run: cargo hack test --feature-powerset
      - uses: wagoid/commitlint-github-action@v6
        with:
          failOnWarnings: true
          failOnErrors: true
